In [1]:
import os
import pandas as pd

In [9]:
source_annotations_path = ".symptemist_train/subtask1-ner/txt/"
splits_path = "path_to_dataset_split_into_sentences"

In [10]:
splits_file_names = []
start_offsets = []
end_offsets = []

for splits_file_name in os.listdir(splits_path):
    if not splits_file_name.endswith(".txt"):
        continue

    source_file_name = f"{splits_file_name.split('-b-')[0]}.txt" # splits files naming: es-S0004-06142007000600016-2-b-3.txt
    with open(f"{source_annotations_path}{source_file_name}", "r", encoding="utf-8") as source_file:
        with open(f"{splits_path}{splits_file_name}", "r", encoding="utf-8") as splits_file:
            source_content = source_file.read()
            splits_content = splits_file.read().strip()
            
            splits_file_names.append(splits_file_name)

            start_offset = source_content.find(splits_content)
            if (start_offset < 0):
                print(splits_file_name)
            
            start_offsets.append(start_offset)
            end_offsets.append(start_offset + len(splits_content))

In [11]:
len(start_offsets)

11899

In [12]:
len(splits_file_names)

11899

In [13]:
df = pd.DataFrame(data={"file_name": splits_file_names, "start_offset": start_offsets, "end_offset": end_offsets})

In [16]:
df

                                  file_name  start_offset  end_offset
0      es-S0004-06142007000600016-2-b-2.txt             0         383
1      es-S0004-06142007000600016-2-b-3.txt           384         399
2      es-S0004-06142007000600016-2-b-4.txt           400         503
3      es-S0004-06142007000600016-2-b-5.txt           505         646
4      es-S0004-06142007000600016-2-b-6.txt           647         721
...                                     ...           ...         ...
11894     S0004-06142007000600011-1-b-4.txt           208         254
11895     S0004-06142007000600011-1-b-5.txt           255         414
11896     S0004-06142007000600011-1-b-6.txt           416         517
11897     S0004-06142007000600011-1-b-7.txt           518         599
11898     S0004-06142007000600011-1-b-8.txt           601         732

[11899 rows x 3 columns]

In [15]:
df.to_csv("sentence_offsets_v4.csv", index=False)